@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
	<title>CONTACT</title>
	<style>
		body {
			background-image: url(/lib/img/bgdclg.jpg);
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 100% 100%;
		}
		h2{
			color:gold;
		}
	</style>
</head>
<body>
	<h2><marquee direction="right"><b>SHRI SANT GAJANAN MAHARAJ COLLEGE OF ENGINEERING,SHEGAON</b></marquee></h2>
	<h1 style="color:brown"><b>CONTACT INFORMATION</b></h1>

	<div class="main-content">
		<div class="left box">
			<h2>GET IN TOUCH</h2>
			<div class="content">
				<div class="social">
					<b style="color:red;">SHRI SANT GAJANAN MAHARAJ COLLEGE OF ENGINEERING (SSGMCE),  <br>Khamgaon Road, Shegaon, Maharashtra - 444203<br><br>Phone: +91 07265-252216, +91 07265-252206<br><br>Email: principal@ssgmce.ac.in</b>
				</div>
			</div>
		</div>
		</div>

		<div class="center-block box">
           <h3>ABOUT INSTITUTE</h3>
			<p>
				Shri Sant Gajanan Maharaj College of Engineering, Shegaon (SSGMCE), one of the premier institutes in the field of engineering, was established in 
				1983 by Shri Gajanan Shikshan Sanstha, Shegaon. It is affiliated to Sant Gadge Baba Amravati University, Amravati, recognized by AICTE, New Delhi
				and approved by DTE, Maharashtra State, Mumbai. Courses at SSGMCE are accredited by NBA (4-5 times), AICTE, New Delhi. The Institute was selected
				as the Network Institute under NPIU’s TEQIP, MHRD, Govt. of India under Phase-I. SSGMCE is honoured with Dewang Mehta National EDUCATION LEADERSHIP
				AWARD – 2015 & 2016, CII-GRATITUDE AWARD, Nov. 2016 and honoured as Management College of the Year 2016 by Higher Education Review Magazine, Nov.
				2016. Career360 Magazine, April 2017 ranked the institute as “AAA”,

			</p>

		</div>

		<div class="center box">
			<h2>SSGMCE ADMIN OFFICE</h2>
			<div class="content">
				<div class="place">
					<b style="color:red;">Address: Shegaon - 444203, Dist. Buldhana, (M.S.), India, <br>Shegaon, Buldhana, <br> Maharashtra 444203 Phone: +91 07265-252216 </b><br>

				</div>
			</div>
		</div>
</body>
</html>